@import url(./assets/fonts/static/HankenGrotesk-Medium.ttf);


:root {
    /* Primary */
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/*Gradients*/
--Light-slate-blue /*(background)*/: hsl(252, 100%, 67%);
--Light-royal-blue /*(background)*/: hsl(241, 81%, 54%);
--Violet-blue /*(circle)*/: #5932c3e7;
--Persian-blue /*(circle)*/: #2421ca00;

/*Neutral*/
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

*, *::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Hanken Grotesk', sans-serif;
}
body {
    box-sizing: border-box;
}

/* first card*/
.card {   
    background:  linear-gradient(180deg,#7857ff,#2e2be9);
    width: 400px;  
    border-radius: 3rem;     
    float: left;
}

.result {
    text-align: center;
    font-weight: 500;
    color: var(--Light-lavender);
    font-size: 1.3rem;
}

.cycle{
background: linear-gradient(180deg, #5932c3e7, #2421ca00);
width: 200px;
height: 200px;
margin: 3rem auto;
border-radius: 100px;
text-align: center;
}

strong {
    font-size: 5rem;
}

.of {
    color: var(--Light-lavender);
}

.inner {
font-size: large;
padding-top: 50px;
color: white;
}

.great {
    text-align: center;
    color: white;
    font-size: 2rem;    
}

.score {
    text-align: center;
    padding: 45px;
    font-size: 23px;
    color: var(--Light-lavender);
}

/*second card*/

.IIcard {
    width: 400px;  
    border-radius:0 3rem 3rem 0; 
    justify-content: center;
    align-content: center;
    
      
}

.sum {
    padding-top: 20px;
    margin-left: 30px;
    font-size: 30px;
}

.react {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: 600;
}

.rtcon {
    background-color: hsla(0, 79%, 72%, 0.209);
    font-size: large;
    padding: 20px;
    width: 350px;
    margin: 20px;
    border-radius: 15px;
    margin-top: 30px;
}

.mem {
    background-color: hsla(58, 84%, 55%, 0.123);
    font-size: large;
    padding: 20px;
    width: 350px;
    margin: 20px;
    border-radius: 15px;
    margin-top: 30px;
}
 
.memo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 600;
}

.ver {
    background-color: hsla(150, 68%, 69%, 0.123);
    font-size: large;
    padding: 20px;
    width: 350px;
    margin: 20px;
    border-radius: 15px; 
    margin-top: 30px;
}

.verb {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 600;

}

.vis {
    background-color: hsla(263, 81%, 45%, 0.058);
    font-size: large;
    padding: 20px;
    width: 350px;
    margin: 20px;
    border-radius: 15px; 
    margin-top: 30px;

}

.visu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 600;

}

button {
    background-color: var(--Dark-gray-blue);
    color: white;
    padding: 20px;
    width: 350px;
    font-size: x-large;
    margin-left: 1.2rem;
    border: none;
    border-radius: 15px;
    margin-bottom:2rem ;
    
}

.wrap {
    background-color: white;
    overflow: hidden;
    max-width: 800px;
    border-radius: 3rem;
    box-shadow:   0 0 10px 10px rgba(2, 18, 19, 0.1); 
    display: flex; 
    flex-wrap: wrap;  
}

.man {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}